@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
$white:rgba(252, 252, 252, 0.733);


.header-container{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color:black;
    color: $white;
}
.header-container__logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header-container__logo-text{
        font-size: 20px;
        font-family: 'Dancing Script', cursive;
        color:$white;
    }
}
